<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    Click Me! nice
  </button>
</div>
<div>Home here:
  <button class="p-2 bg-red-500 rounded-md text-white" hx-get="/" hx-trigger="click" hx-target="#root"
    hx-swap="innerHTML">
    nice 7
  </button>
</div>
